@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  --primary-blue: #3ba3f3; }

header {
  display: inline-flex;
  text-align: center;
  z-index: 3;
  font-family: "Oswald", sans-serif;
  align-items: center;
  background-color: #030303;
  position: relative;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-color: #50abff;
  border-width: 2px;
  border-radius: 50px; }

li {
  list-style-type: none; }

.navcontainer {
  display: flex;
  justify-content: center;
  padding-top: 20px; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #121212;
  overflow: hidden;
  /* background: #2e3036f5; */ }

#particles-js {
  background: #101010;
  position: absolute;
  height: 100vh;
  width: 100%; }

.logo {
  position: relative; }

.logo img {
  border-radius: 50%; }

.nav__links {
  list-style: none;
  display: flex; }

.nav__links a,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  text-align: center; }

.cta {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000;
  text-decoration: none; }

.nav__links li {
  padding: 0px 20px; }

.nav__links li a {
  transition: all 0.3s ease 0s; }

.nav__links li a:hover {
  color: #5cb5f9; }

.cta {
  position: relative;
  padding: 9px 25px;
  background-color: #5cb5f9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s; }

.cta:hover {
  background-color: #8dcbfa; }

/* Mobile Nav */
.menu {
  display: none;
  margin-left: 30px; }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s; }

.overlay--active {
  width: 100%; }

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.overlay__content #menuDisplay {
  display: none; }

.overlay a {
  padding: 15px;
  font-size: 2rem;
  display: block;
  transition: all 0.3s ease 0s; }

.overlay a:hover,
.overlay a:focus {
  color: #8dcbfa; }

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer; }

.chatbot {
  width: 90%;
  color: #fff;
  font-family: "Oswald", sans-serif;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.chatbot .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px; }

.chatbot h1 {
  font-size: 3rem;
  padding: 20px; }

.chatbot p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  max-width: 60rem;
  word-wrap: break-word;
  user-select: none;
  text-align: center;
  /* Center the text within its container */
  margin: 0 auto;
  /* Add margin:auto to center the container itself */
  font-size: 1.6rem;
  color: #ffffffa3; }

#interchat_text_hi {
  background: linear-gradient(to right, var(--primary-blue), #0f5cfb);
  color: transparent;
  /* Hide the original text color */
  display: inline-block;
  /* Ensure the gradient is applied only to the text, not the entire element */
  -webkit-background-clip: text;
  /* For WebKit browsers like Chrome and Safari */
  background-clip: text;
  /* For WebKit browsers like Chrome and Safari */ }

.chatbot img {
  position: relative;
  width: 10rem;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 50%;
  animation: hoverUpDown 2s infinite alternate ease-in-out;
  /* Adjust the duration as needed */ }

@keyframes hoverUpDown {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-20px);
    /* Adjust the distance the logo hovers up and down */ } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover); } }

.pulse {
  --color: #fff;
  --hover: white; }

.pulse {
  transition: 0.25s;
  letter-spacing: 1.3px;
  cursor: pointer; }

.pulse:hover, .pulse:focus {
  border-color: var(--hover);
  color: #fff; }

.pulse {
  -webkit-appearance: button;
  -moz-appearance: button;
  color: var(--color);
  appearance: button;
  font-family: "Oswald", sans-serif;
  font-size: 19.1px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  top: -2px;
  background: none;
  line-height: 1;
  padding: 1em 2em;
  box-sizing: border-box;
  min-width: 200px;
  min-height: 60px;
  background: rgba(92, 181, 249, 0.12);
  border: 2px solid var(--primary-blue);
  border-radius: 20px; }

.pulse:hover,
.pulse:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em); }

.inviteBtn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border-radius: 20px;
  min-width: 200px;
  min-height: 60px;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: 700;
  color: #313133;
  background: var(--primary-blue);
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 15px; }

.inviteBtn:hover,
.inviteBtn.focus {
  color: #313133;
  transform: translateY(-6px); }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

@media only screen and (max-width: 780px) {
  .nav__links,
  .cta {
    display: none; }
  .menu {
    display: initial; }
  .chatbot img {
    width: 25%;
    /* Adjust the width for smaller screens */ }
  .chatbot h1 {
    font-size: 2.5rem; }
  .chatbot p {
    font-size: 1.2rem; }
  .button-container {
    flex-direction: column; } }

#scrollPath {
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: white; }

#progressbar {
  z-index: 3;
  position: fixed;
  top: 80px;
  left: 0;
  height: 5px;
  background: linear-gradient(to left, #5cb5f9, #8dcbfa);
  animation: animate 5s linear infinite; }

/* @keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  
} */
#progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #8dcbfa, #5cb5f9be);
  filter: blur(1px); }

#progressbar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #008aff, #00ffe7);
  filter: blur(30px); }

::selection {
  color: #8dcbfa; }

#myBtn {
  background: url(logo/chevron-up-outline.svg) no-repeat;
  background-position: center;
  align-items: center;
  display: none;
  position: fixed;
  bottom: 20px;
  background-color: #fff;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  height: 50px;
  width: 47px;
  border-radius: 4px; }

#myBtn:hover {
  background-color: #555; }
